<!DOCTYPE html>
<meta charset="utf-8">

<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>

	<!-- Basic Page Needs
	================================================== -->
	<title>Ideaware - About Us</title>
	<meta name="description" content="This is the team that create great web designs and iOS apps and development.">
	<meta name="author" content="Ideaware Co">
	<!--[if lt IE 9]>
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
	<![endif]-->


	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Styling
	================================================== -->
	<link rel="stylesheet" href="../stylesheets/base.css">
	<link rel="stylesheet" href="../stylesheets/skeleton.css">
	<link rel="stylesheet" href="../stylesheets/layout.css">
	<link rel="stylesheet" href="../stylesheets/fonts.css">
	
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="../images/favicon.ico">
	<link rel="apple-touch-icon" href="../images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../images/apple-touch-icon-114x114.png">

</head>
<body>
	<div class="en-es">
		<ul>
			<li class="active"><a href="#" class="set_english_button">EN</a></li>
			<li><a href="#" class="set_spanish_button">ES</a></li>
		</ul>
	</div>
	
	<header>
		<div class="container">
			<div class="sixteen columns">
				<h1 class="logo" class="one-third column"><a href="../index.html">Ideaware</a></h1>
				<nav>
					<ul class="nav">
						<li><a href="../index.html">Home</a></li>
						<li><a href="index.html" class="active">About Us</a></li>
						<li><a href="../process/index.html">Process</a></li>
						<li><a href="../our_work/index.html">Our Work</a></li>
						<li><a href="http://blog.ideaware.co">Idea Blog<span class="tm">&trade;</span></a></li>
						<li><a href="../contact_us/index.html">Contact Us</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	
	<div class="container">
		<div class="sixteen columns">
			<a href="#" class="gotomenu button orange nodisplay"><span class="spritesheet icnplus"></span></a>
		</div>
	</div>
	
	<section class="banner height257">
		<div>
			<div class="container">
				<div class="sixteen columns">
					<h2>About us</h2>
				</div>
			</div>
		</div>
	</section>
	
	<section class="bgwhite aboutusvideo">
		<div class="container">
			<div class="sixteen columns">
				<p class="size24">We're an agency born out of a passion to make great products. We help companies and startups from all over the world materialize their ideas into great websites and iOS applications.</p>
				<div class="video">
					<img src="../images/misc/office_normal.png" class="scale-with-grid" alt="Ideaware"/>
				</div>
			</div>
			<article class="one-third column tool">
				<p class="titlebubble one">About our Agency</p>
				<p>Ideaware was founded on a basic principle: build great experiences with beautiful interfaces. We try to make the web and mobile scene a better place by helping our clients materialzie their ideas.</p>
				<p>Our strategic locations in Barranquilla, Colombia and Miami, FL provide Ideaware the strategic advantage of delivering great products and team availability from near-shore locations.</p>
			</article>
			<article class="one-third column tool">
				<p class="titlebubble two">Our Philosophy</p>
				<p>Great products are not only aesthetically pleasing but also easy to use. We believe that apps and websites should not only be eye catching but actually provide a great user experience that users will remember.</p>

			</article>
			<article class="one-third column tool">
				<p class="titlebubble three">History</p>
				<p>Ideaware was founded in 2009, we've had the privilege to work with great companies and startups. Our team has rapidly grown since then, today we're more than 15 team members across our locations.</p>
				<p>At first we started out as a web design agency but have now grown to offer mobile product design and development as well.</p>
			</article>
		</div>
	</section>
	
	<section class="photo team">
		<div class="container">
			<div class="sixteen columns">
				<h3>The Team</h3>
				<ul class="team">
					<li>
						<p class="img">
							<img class="scale-with-grid max" src="../images/misc/team/max.png" alt="Andres Max" />
							<img class="scale-with-grid onhover" src="../images/misc/team/maxfun.png" alt="Andres Max" />
						</p>
						<p class="info">
							<span>Andrés Max</span>
							<span>Founder/CEO</span>
						</p>
					</li>
					<li>
						<p class="img">
							<img class="scale-with-grid" src="../images/misc/team/pipe.png" alt="Luis Felipe Campo" />
							<img class="scale-with-grid onhover" src="../images/misc/team/pipefun.png" alt="Luis Felipe Campo" />
						</p>
						<p class="info">
							<span>Luis Felipe Campo</span>
							<span>CFO</span>
						</p>
					</li>
					<li>
						<p class="img">
							<img class="scale-with-grid" src="../images/misc/team/hemel.png" alt="Hemel Sarmiento" />
							<img class="scale-with-grid onhover" src="../images/misc/team/hemelfun.png" alt="Hemel Sarmiento" />
						</p>
						<p class="info">
							<span>Jose Sarmiento</span>
							<span>Project Manager</span>
						</p>
					</li>
					<li>
						<p class="img">
							<img class="scale-with-grid" src="../images/misc/team/analdo.png" alt="Analdo Gomez" />
							<img class="scale-with-grid onhover" src="../images/misc/team/analdofun.png" alt="Analdo Gomez" />
						</p>
						<p class="info">
							<span>Analdo Gomez</span>
							<span>UX/UI Designer</span>
						</p>
					</li>
					<li>
						<p class="img">
							<img class="scale-with-grid" src="../images/misc/team/james.png" alt="Jaime Alonso" />
							<img class="scale-with-grid onhover" src="../images/misc/team/jamesfun.png" alt="Jaime Alonso" />
						</p>
						<p class="info">
							<span>Jaime Alonso</span>
							<span>UX/UI Designer</span>
						</p>
					</li>
					<li>
						<p class="img">
							<img class="scale-with-grid" src="../images/misc/team/choco.png" alt="Jonathan Castaño" />
							<img class="scale-with-grid onhover" src="../images/misc/team/chocofun.png" alt="Jonathan Castaño" />
						</p>
						<p class="info">
							<span>Jonathan Castaño</span>
							<span>Web Designer</span>
						</p>
					</li>
					<li>
						<p class="img">
							<img class="scale-with-grid" src="../images/misc/team/ivan.png" alt="Iván Gazabón" />
							<img class="scale-with-grid onhover" src="../images/misc/team/ivanfun.png" alt="Iván Gazabón" />
						</p>
						<p class="info">
							<span>Iván Gazabón</span>
							<span>Web Designer</span>
						</p>
					</li>
					<li>
						<p class="img">
							<img class="scale-with-grid" src="../images/misc/team/mary.png" alt="María Helena Barros Burchardt" />
							<img class="scale-with-grid onhover" src="../images/misc/team/maryfun.png" alt="María Helena Barros Burchardt" />
						</p>
						<p class="info">
							<span>María Helena Barros Burchardt</span>
							<span>Frontend Lead</span>
						</p>
					</li>
					<li>
						<p class="img">
							<img class="scale-with-grid" src="../images/misc/team/andrew.png" alt="Andres Manotas" />
							<img class="scale-with-grid onhover" src="../images/misc/team/andrewfun.png" alt="Andres Manotas" />
						</p>
						<p class="info">
							<span>Andres Manotas</span>
							<span>Frontend Developer</span>
						</p>
					</li>
					<li>
						<p class="img">
							<img class="scale-with-grid" src="../images/misc/team/johann.png" alt="Johann Garrido" />
							<img class="scale-with-grid onhover" src="../images/misc/team/johannfun.png" alt="Johann Garrido" />
						</p>
						<p class="info">
							<span>Johann Garrido</span>
							<span>Frontend Developer</span>
						</p>
					</li>
					<li>
						<p class="img">
							<img class="scale-with-grid" src="../images/misc/team/ricky.png" alt="Ricardo De León" />
							<img class="scale-with-grid onhover" src="../images/misc/team/rickyfun.png" alt="Ricardo De León" />
						</p>
						<p class="info">
							<span>Ricardo De León</span>
							<span>Frontend Developer</span>
						</p>
					</li>
					<li>
						<p class="img">
							<img class="scale-with-grid" src="../images/misc/team/cosifran.png" alt="Francisco Durán" />
							<img class="scale-with-grid onhover" src="../images/misc/team/cosifranfun.png" alt="Francisco Durán" />
						</p>
						<p class="info">
							<span>Francisco Durán</span>
							<span>Frontend Developer</span>
						</p>
					</li>
					<li>
						<p class="img">
							<img class="scale-with-grid" src="../images/misc/team/alfonso.png" alt="Alfonso Dominguez" />
							<img class="scale-with-grid onhover" src="../images/misc/team/alfonsofun.png" alt="Alfonso Dominguez" />
						</p>
						<p class="info">
							<span>Alfonso Domínguez</span>
							<span>Frontend Developer</span>
						</p>
					</li>
					<li>
						<p class="img">
							<img class="scale-with-grid" src="../images/misc/team/mello.png" alt="Carlos Rios" />
							<img class="scale-with-grid onhover" src="../images/misc/team/mellofun.png" alt="Carlos Rios" />
						</p>
						<p class="info">
							<span>Carlos Rios</span>
							<span>Developer</span>
						</p>
					</li>
					<li>
						<p class="img">
							<img class="scale-with-grid" src="../images/misc/team/amparo.png" alt="Amparo Luna" />
							<img class="scale-with-grid onhover" src="../images/misc/team/amparofun.png" alt="Amparo Luna" />
						</p>
						<p class="info">
							<span>Amparo Luna</span>
							<span>Developer</span>
						</p>
					</li>
					<li>
						<p class="img">
							<img class="scale-with-grid" src="../images/misc/team/giulia.png" alt="Giulia Caldarone" />
							<img class="scale-with-grid onhover" src="../images/misc/team/giuliafun.png" alt="Giulia Caldarone" />
						</p>
						<p class="info">
							<span>Giulia Caldarone</span>
							<span>Community Manager</span>
						</p>
					</li>
					<li>
						<p class="img">
							<img class="scale-with-grid" src="../images/misc/team/obed.png" alt="Oben Rondón" />
							<img class="scale-with-grid onhover" src="../images/misc/team/obedfun.png" alt="Oben Rondón" />
						</p>
						<p class="info">
							<span>Obed Rondón</span>
							<span>Office Assistant</span>
						</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
	
	<section class="bgwhite clientsay">
		<div class="container">
			<div class="sixteen columns">
				<blockquote><p class="size24">We've worked with Ideaware as colleagues and collaborators on projects. 
				There are not enough superlatives to talk about how good they are. 
				Awesome UI/UX design, and they know how products get built too.</p></blockquote>
				<span class="client">- Ryan Kuder, EcoATM</span>
			</div>
		</div>
	</section>
	
	<section class="map">
		<div class="infomap">
			<h6>Ideaware Headquarters</h6>
			<p>World Trade Center Building</p>
			<p>Calle 76 #54-11 Suite 307</p>
			<p>Barranquilla, Colombia</p>
		</div>
	</section>
	
	
	<section id="menu" class="menu nodisplay">
		<div class="container">
			<div class="sixteen columns">
				<a href="../index.html">Home</a>
				<a href="index.html">About us</a>
				<a href="../process/index.html">Process</a>
				<a href="../our_work/index.html">Our Work</a>
				<a href="http://blog.ideaware.co">Idea Blog<span class="tm">&trade;</span></a>
				<a href="../contact_us/index.html">Contact Us</a>
			</div>
		</div>
	</section>
	
	<footer>
		<div class="container">
			<div class="sixteen columns textcenter">
				<ul class="social-media">
					<li><a href="http://twitter.com/ideawareco" alt="Twitter"><span class="spritesheet icntw"></span></a></li>
					<li><a href="https://www.facebook.com/ideaware" alt="Facebook"><span class="spritesheet icnfb"></span></a></li>
					<li><a href="http://dribbble.com/tags/ideaware" alt="Dribbble"><span class="spritesheet icndribbble"></span></a></li>
					<li><a href="http://pinterest.com/ideaware/" alt="Pinterest"><span class="spritesheet icnpinterest"></span></a></li>
					<li><a href="http://www.linkedin.com/company/2335941" alt="Linkedin"><span class="spritesheet icnlinledin"></span></a></li>
					<li><a href="http://blog.ideaware.co/rss" alt="RSS"><span class="spritesheet icnrss"></span></a></li>
				</ul>
				<p class="size18">We're based in Barranquilla, Colombia (South America) and Miami, FL.
				<br/>We work with clients from all over the world. 
				<a href="../contact_us/index.html" class="linkblue">Get in touch with us</a>, we’re user-friendly!</p>
				<ul class="contactus">
					<li><a href="mailto:hello@ideaware.co" class="mail">hello@ideaware.co</a></li>
					<li><span class="phone">+1 (408) 786 - 5117</span></li>
				</ul>
				<p>We’re always looking for great talent to join our team. <a href="../apply_for_a_job/index.html" class="linkblue getintouch">Apply for a position today!</a></p>
				<p>©2009-2012 Ideaware Co. All Rights Reserved.</p>
				<ul class="share_network">
					<li>
						<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://ideaware.co" data-text="Ideaware - Web & Mobile User Experience Design Agency" data-count="horizontal" data-via="ideaware">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
					</li>
					<li>
						<iframe src="http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/pages/Ideaware/158057000886301&layout=button_count&show_faces=true&width=200&action=like&colorscheme=light&height=22" scrolling="no" frameborder="0" style="float:right;border:none; width:115px; height:22px;" allowTransparency="true"></iframe>
					</li>
				</ul>
			</div>
		</div>
	</footer>
	
	<!-- container -->
	
	<!-- JS
	================================================== -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" charset="utf-8"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" charset="utf-8"></script>
	<script	src="../javascripts/prefixfree.min.js" type="text/javascript"></script>
	<script	src="../javascripts/ideaware.js" type="text/javascript"></script>
	<script	src="../javascripts/jquery.spasticNav.js" type="text/javascript"></script>
	<script	src="../javascripts/jquery.slideto.min.js" type="text/javascript"></script>
	<script	src="../javascripts/retina.js" type="text/javascript"></script>
	<script src="../javascripts/google_analytics.js" type="text/javascript"></script>
	<script src="../javascripts/jquery.browserLanguage.js" type="text/javascript"></script>
	<script src="../javascripts/jquery.cookies.js" type="text/javascript"></script>
	<script>
		$(document).ready(function() { 
			$('.onhover').hide();
			$('p.img').hover(function(){
				$(this).find('.onhover').fadeIn(300);
			},function(){
				$(this).find('.onhover').fadeOut(300);
			})
		})
	</script>
	
	<!-- End Document
	================================================== -->
	</body>
</html>
<!-- Localized -->