<!DOCTYPE html>
<meta charset="utf-8">

<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>

	<!-- Basic Page Needs
	================================================== -->
	<title>Ideaware - Project Planner</title>
	<meta name="description" content="Use our project planner to let us know about your web design or iOS design and development needs. We respond rather quickly to help your company or startup.">
	<meta name="author" content="Ideaware Co">
	<!--[if lt IE 9]>
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
	<![endif]-->


	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Styling
	================================================== -->
	<link rel="stylesheet" href="../stylesheets/base.css">
	<link rel="stylesheet" href="../stylesheets/skeleton.css">
	<link rel="stylesheet" href="../stylesheets/layout.css">
	<link rel="stylesheet" href="../stylesheets/fonts.css">
	
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="../images/favicon.ico">
	<link rel="apple-touch-icon" href="../images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../images/apple-touch-icon-114x114.png">

</head>
<body>
	<div class="en-es">
		<ul>
			<li class="active"><a href="#" class="set_english_button">EN</a></li>
			<li><a href="#" class="set_spanish_button">ES</a></li>
		</ul>
	</div>
	
	<header>
		<div class="container">
			<div class="sixteen columns">
				<h1 class="logo" class="one-third column"><a href="../index.html">Ideaware</a></h1>
				<nav>
					<ul class="nav">
						<li><a href="../index.html">Home</a></li>
						<li><a href="../about_us/index.html">About Us</a></li>
						<li><a href="../process/index.html">Process</a></li>
						<li><a href="../our_work/index.html">Our Work</a></li>
						<li><a href="http://blog.ideaware.co">Idea Blog<span class="tm">&trade;</span></a></li>
						<li><a href="../contact_us/index.html">Contact Us</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	
	<div class="container">
		<div class="sixteen columns">
			<a href="#" class="gotomenu button orange nodisplay"><span class="spritesheet icnplus"></span></a>
		</div>
	</div>
	
	<section class="banner height257">
		<div>
			<div class="container">
				<div class="sixteen columns">
					<h2>Project Planner</h2>
				</div>
			</div>
		</div>
	</section>
	
	<section class="bgwhite">
		<div class="container">
			<div class="thirteen columns columnscenter">
				<p class="size24">We'd love to learn more about your project, please tell us a bit about it below. We will get back to you within 24 hours.</p>
			</div>
		</div>
	</section>
	
	<section class="graylight contactus">
		<div class="container">
			<div class="sixteen columns">
				<div id="wufoo-k7x2z1">
				Fill out my <a href="http://ideaware.wufoo.com/forms/k7x2z1">online form</a>.
				</div>
				<script type="text/javascript">var k7x2z1;(function(d, t) {
				var s = d.createElement(t), options = {
				'userName':'ideaware', 
				'formHash':'k7x2z1', 
				'autoResize':true,
				'height':'997',
				'async':true,
				'header':'show', 
				'ssl':false};
				s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
				s.onload = s.onreadystatechange = function() {
				var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
				try { k7x2z1 = new WufooForm();k7x2z1.initialize(options);k7x2z1.display(); } catch (e) {}};
				var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
				})(document, 'script');</script>
			</div>
		</div>
	</section>

	<section id="menu" class="menu nodisplay">
		<div class="container">
			<div class="sixteen columns">
				<a href="../index.html">Home</a>
				<a href="../about_us/index.html">About us</a>
				<a href="../process/index.html">Process</a>
				<a href="../our_work/index.html">Our Work</a>
				<a href="http://blog.ideaware.co">Idea Blog<span class="tm">&trade;</span></a>
				<a href="../contact_us/index.html">Contact Us</a>
			</div>
		</div>
	</section>
	
	<footer>
		<div class="container">
			<div class="sixteen columns textcenter">
				<ul class="social-media">
					<li><a href="http://twitter.com/ideawareco" alt="Twitter"><span class="spritesheet icntw"></span></a></li>
					<li><a href="https://www.facebook.com/ideaware" alt="Facebook"><span class="spritesheet icnfb"></span></a></li>
					<li><a href="http://dribbble.com/tags/ideaware" alt="Dribbble"><span class="spritesheet icndribbble"></span></a></li>
					<li><a href="http://pinterest.com/ideaware/" alt="Pinterest"><span class="spritesheet icnpinterest"></span></a></li>
					<li><a href="http://www.linkedin.com/company/2335941" alt="Linkedin"><span class="spritesheet icnlinledin"></span></a></li>
					<li><a href="http://blog.ideaware.co/rss" alt="RSS"><span class="spritesheet icnrss"></span></a></li>
				</ul>
		<p class="size18">We're based in Barranquilla, Colombia (South America) and Miami, FL.<br/>We work with clients from all over the world. <a href="../contact_us/index.html" class="linkblue">Get in touch with us</a>, we’re user-friendly!</p>
				<ul class="contactus">
					<li><a href="mailto:hello@ideaware.co" class="mail">hello@ideaware.co</a></li>
					<li><span class="phone">+1 (408) 786 - 5117</span></li>
				</ul>
				<p>We’re always looking for great talent to join our team. <a href="../apply_for_a_job/index.html" class="linkblue getintouch">Apply for a position today!</a></p>
				<p>©2009-2012 Ideaware Co. All Rights Reserved.</p>
				<ul class="share_network">
					<li>
						<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://ideaware.co" data-text="Ideaware - Web & Mobile User Experience Design Agency" data-count="horizontal" data-via="ideaware">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
					</li>
					<li>
						<iframe src="http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/pages/Ideaware/158057000886301&layout=button_count&show_faces=true&width=200&action=like&colorscheme=light&height=22" scrolling="no" frameborder="0" style="float:right;border:none; width:115px; height:22px;" allowTransparency="true"></iframe>
					</li>
				</ul>
			</div>
		</div>
	</footer>
	<!-- container -->
	
	<!-- JS
	================================================== -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" charset="utf-8"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" charset="utf-8"></script>
	<script	src="../javascripts/prefixfree.min.js" type="text/javascript"></script>
	<script	src="../javascripts/ideaware.js" type="text/javascript"></script>
	<script	src="../javascripts/jquery.spasticNav.js" type="text/javascript"></script>
	<script	src="../javascripts/jquery.slideto.min.js" type="text/javascript"></script>
	<script	src="../javascripts/retina.js" type="text/javascript"></script>
	<script src="../javascripts/google_analytics.js" type="text/javascript"></script>
	<script src="../javascripts/jquery.browserLanguage.js" type="text/javascript"></script>
	<script src="../javascripts/jquery.cookies.js" type="text/javascript"></script>
	
	<!-- End Document
	================================================== -->
	</body>
</html>
<!-- Localized -->